body {
  background-color: #333333;
  color: white;
}
div.centering_content {
  margin: 0px auto;
  text-align: center;
}
input, button {
  font-size: 120%;
  vertical-align: middle;
  margin-right: -3px;
  margin-left: -3px;
}
label {
  white-space: nowrap;
  user-select: none;
}
input[type="checkbox"] {
  margin: 3px;
}
input {
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}
button {
  appearance: none;
  box-sizing: border-box;
  border: 0.5px solid grey;
  border-radius: 5px;
}
div.search_result {
  width: 50vw;
  margin: 0px auto;
  margin-top: 20px;
}
div.search_result div.search_card {
  width: 50vw;
  height: 16vh;
  min-height: 120px;
  margin-bottom: 0px;
  margin-top: 0px;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 2px;
  display: flex;
}
div.search_result div.search_card a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  input[type="text"] {
    max-width: 70vw;
  }
  div.search_result {
    width: 90vw;
  }
  div.search_result div.search_card {
    width: 90vw;
  }
}
@media screen and (max-width: 500px) {
  div.search_result div.search_card {
    height: 40vh;
    flex-direction: column;
  }
  div.search_result div.search_card div.search_thumb {
    height: 15vh;
    min-height: calc(120px - 1vh);
    margin: 0px auto;
  }
}
div.search_result div.search_card div.search_thumb {
  aspect-ratio: 16/9;
}
div.search_result div.search_card div.search_thumb img {
  height: 15vh;
  min-height: calc(120px - 1vh);
  margin-top: 0.5vh;
  margin-left: 0.5vh;
  margin-bottom: 0.5vh;
  width: 26.7vh;
  min-width: calc(213.3px - 1vh);
  aspect-ratio: 16/9;
}
div.search_result div.search_card div.search_detail {
  width: 100%;
  text-align: left;
  overflow: auto;
}
div.search_result div.search_card div.search_detail div.search_title p {
  font-size: 110%;
  margin-top: 5px;
  margin-bottom: 5px;
}
div.search_result div.search_card div.search_detail div.search_channel p {
  margin: 0px;
}
div.search_result div.search_card div.search_detail div.search_channel p img {
  width: 4vh;
  height: 4vh;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}
div.search_result div.search_card div.search_detail div.search_description p {
  font-size: 90%;
  margin-top: 5px;
  margin-bottom: 0px;
}
a.no_link {
  color: white;
  text-decoration: none;
}
p.no_margin {
  margin-top: 0px;
  margin-bottom: 0px;
}
div.player_container .player {
  max-width: 900px;
  width: 90vw;
  aspect-ratio: 16/9;
  margin: 0px auto;
}
div.player_container p.video_title {
  text-align: left;
  max-width: 900px;
  width: 90vw;
  margin: 0px auto;
  margin-top: 1em;
}
div.player_container div.channel_info {
  max-width: 900px;
  width: 90vw;
  margin: 0px auto;
  margin-top: 20px;
  position: relative;
}
div.player_container div.channel_info div {
  position: relative;
  height: 5em;
}
div.player_container div.channel_info div div.left_container {
  float: left;
}
div.player_container div.channel_info div div.left_container a {
  text-decoration: none;
  color: white;
}
div.player_container div.channel_info div div.left_container a img {
  border-radius: 100%;
  vertical-align: middle;
  width: 6vh;
}
div.player_container div.channel_info div div.left_container span {
  vertical-align: middle;
}
div.player_container div.channel_info div div.right_container {
  float: right;
}
div.player_container div.channel_info div div.right_container a {
  text-decoration: none;
}
div.player_container div.channel_info div div.right_container a button {
  appearance: none;
  background-color: #004eaf;
  color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8px;
  padding-left: 8px;
  cursor: pointer;
}
div.player_container div.detailed_button {
  position: fixed;
  bottom: 0px;
  left: 10vw;
  width: 80vw;
  background-color: #cc006b;
  color: white;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  z-index: 3;
  transition: bottom 0.3s;
}
div.player_container div.detailed_button.opened {
  bottom: 90vh;
  transition: bottom 0.3s;
}
div.player_container div.detailed_modal {
  position: fixed;
  left: 10vw;
  width: 80vw;
  height: 90vh;
  bottom: -90vh;
  background-color: #333333;
  z-index: 3;
  transition: bottom 0.3s;
  overflow-y: scroll;
}
div.player_container div.detailed_modal.opened {
  bottom: 0px;
  transition: bottom 0.3s;
}
div.player_container div.detailed_modal_bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #ffffff77;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
div.player_container div.detailed_modal_bg.opened {
  opacity: 1;
  transition: opacity 0.3s;
  pointer-events: all;
}
div.player_container div.detailed_modal p.d_content {
  word-wrap: break-all;
}
div.player_container div.detailed_modal div.related div.search_result {
  width: 96%;
}
div.player_container div.detailed_modal div.related div.search_card {
  width: 100%;
  box-sizing: border-box;
}
.s110p {
  font-size: 90%;
}
h1.small_title_h1 {
  margin-top: 0.3em;
  margin-bottom: 0px;
}
form.small_search {
  max-width: 860px;
  width: calc(90vw - 40px);
  margin: 0px auto;
  margin-bottom: 0.5em;
}
form.small_search input {
  font-size: 80%;
  background-color: #414141f0;
  color: rgb(189, 189, 189);
  width: 80%;
}
form.small_search input:focus-visible {
  outline: 1px solid black;
}
form.small_search button {
  font-size: 78%;
  background-color: #00000000;
  color: rgb(189, 189, 189);
  width: 19%;
}
div.channel {
  width: 80%;
  margin: 0px auto;
}
@media screen and (max-width: 900px) {
  div.channel {
    width: 96%;
  }
}
div.channel p.channel_show {
  font-size: 160%;
}
div.channel p.channel_show img {
  width: 3em;
  border-radius: 50%;
  aspect-ratio: 1/1;
  vertical-align: middle;
}
div.channel_video_card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
div.channel_video_card div.search_card {
  width: 300px;
  max-width: 100%;
  border: 1px solid white;
  margin: 3px;
  box-sizing: border-box;
}
div.channel_video_card div.search_card a {
  display: block;
  color: white;
  text-decoration: none;
}
div.channel_video_card div.search_card div.search_thumb {
  width: 100%;
}
div.channel_video_card div.search_card div.search_thumb img {
  width: 100%;
}
div.channel_video_card div.search_card div.search_detail p {
  margin: 0px;
}
div.channel_video_card div.search_card div.search_detail div.search_channel p img {
  width: 2em;
  vertical-align: middle;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
div.channel_video_card.hidden {
  display:hidden;
  border:1px solid white;
  margin: 2px;
  box-sizing: border-box;
}
img.channel_banner {
  width: 100%;
}
.video-js {
  width: 100%;
  height: 100%;
}
.video-js:hover button.vjs-big-play-button, .video-js button.vjs-big-play-button {
  height:90px;
  width:90px;
  border-radius:50%;
  font-size:5em;
  line-height:90px;
  background:#3a3a3a88;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.loop_enable {
  text-shadow: 0em 0em 0.3em white, 0em 0em 0.3em white;
}
.video-js div:not(.video_cover), .video-js button {
  z-index: 2;
}
.video-js div.video_cover {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}